
.paybills-head{
    width: 756px;
    height: 74px;
    margin-left: 100px;
    background-color: #0F3B75;
    color: #ffffff;
}
.paybills-head>h3{
    text-align: right;
}
#paybills-entery1{
    width: 250px;
    height: 60px;
    margin-left: 25%;
    margin-bottom: 40px;
    margin-top: 150px;
    background-color: #0F3B75;
    color: #ffffff;
}
#paybills-entery2{
     width: 250px;
     height: 60px;
     margin-left: 25%;

     background-color: #0F3B75;
     color: #ffffff;
 }
#paybills-entery3{
    width: 250px;
    height: 60px;
    margin-left: 30%;
    margin-top: 150px;
    margin-bottom: 40px;
    background-color: #0F3B75;
    color: #ffffff;
}
#paybills-entery4{
    width: 250px;
    height: 60px;
    margin-left: 30%;


}
.paybills-body {
    width: 7566px;
    height: 800px;
    margin-left: 100px;
    border-style: solid;
    border-color: #0F3B75;
}
.entery{
    padding:20px;
    width: 250px;
    height: 60px;
    background-color: #0F3B75;
    color: #ffffff;
}
.buttons1{
    float: left;
}
.buttons2{
    float: left;
}

